# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment files
.env
config.ini

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# Testing / cache
.pytest_cache/
.mypy_cache/

# Secrets / keys
*.pem